---
title: About Maxime
layout: profile
---

<% content_for :header do %>
<link rel="stylesheet" href="stylesheets/short.css">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic' rel='stylesheet' type='text/css'>
<% end  %>

<br>
<h1>Maxime Liron</h1>

<ul>
  <li>Passion for all things technical
  <li>Experienced full stack web developer
  <li>Studying robotics, mecatronics
</ul>

<div class="highlight">
  <h2>Experienced web developer</h2>
</div>

<ul>
  <li>6+ years designing and building web apps
  <li>8+ years designing and building websites
  <li><strong>Thourough full stack</strong> experience
  <li>Proficiency in Ruby and Javascript
  <li>Familiar with data storage, analysis, experimentation
  <li>Experience with wide range of technologies
</ul>


<div class="highlight">
  <h2>Builder at heart </h2>
</div>

<ul>
  <li>20+ years of experience taking things apart
  <li>Concrete electronics experience
  <li>Long time woodwork enthousiast
  <li>Love to fix mecanical systems (vehicules, appliances, ...)
</ul>

<div class="highlight">
  <h2>Great all-rounder </h2>
</div>

<ul>
  <li>Interest in business development
  <li>Interest in business strategy
  <li>Quick to understand complex systems
  <li>Good colaborator, communicator
  <li>Keen listener
  <li>Fluent in french and english
</ul>


<div class="highlight">
  <p class="quote">I adapt to new contexts, environments and tools, I learn fast 
</div>


<ul>
  <li>
    <a href="/resume/">More about me</a> &rarr;
  </li>
  <li>
    <a href="/portail-notes.html">Home gate control notes</a> &rarr;
  </li>
</ul>