<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title><%= @item[:title] %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">


  <%= render 'common/head'  %>

  <link href='//fonts.googleapis.com/css?family=Exo+2:600' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Ubuntu:400,500,400italic,500italic' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/vendor/github-markdown-css/github-markdown.css">
  <link rel="stylesheet" href="/vendor/lightbox/css/lightbox.css">
  <link rel="stylesheet" href="/stylesheets/note.css">

  <script src="/vendor/lightbox/js/lightbox.js" defer=""></script>
  <script src="/javascripts/notes.js" defer=""></script>
</head>

<body class="markdown-body">

  <article role="main">
    <%= yield %>
  </article>

  <%= content_for(@item, :footer) %>

  <%= render 'common/footer'  %>
</body>
</html>
