---
title: Maxime Liron's Resume
description: Web swiss army knife, general technologist
image: "http://www.maximeliron.com/images/me.png"
layout: /profile.*
---

<% content_for :header do %>
<link rel="stylesheet" href="<%= @items['/stylesheets/resume.*'].path %>" />
<% end %>

<% content_for :footer do %>
<script src="../javascripts/main.js" defer></script>
<% end %>

<aside id="toc">
  <h2>Table of Contents</h2>
  <nav>
    <ul>
      <li><a href="#profile">Profile</a></li>
      <li><a href="#experience">Experience</a></li>
      <li><a href="#projects">Work</a></li>
    </ul>
  </nav>
  <div class="flex-1"></div>
  <a href="maxime-liron-resume.pdf" class="with-icon pdf-link" target="_blank"
    >PDF Version</a
  >
</aside>

<div class="mt-6 mb-12 flex flex-col sm:flex-row justify-between sm:items-end">
  <header>
    <h1>Maxime Liron</h1>
    <h2 class="mr-2 flex flex-row items-center">
      <img
        class="mr-2 h-5 w-5"
        src="../images/small-html5.png"
        alt="HTML5 Logo"
      />
      Full Stack Developer
    </h2>
    <!-- <p>
              Vancouver, Canada
            </p> -->
  </header>

  <section id="contact">
    <h2 class="visuallyhidden">Contact</h2>
    <ul>
      <li class="email">
        <h3>Email</h3>
        <a
          href="mailto:&#109;&#097;&#120;&#105;&#109;&#101;&#108;&#105;&#114;&#111;&#110;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;"
          >&#109;&#097;&#120;&#105;&#109;&#101;&#108;&#105;&#114;&#111;&#110;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a
        >
      </li>
      <li class="github">
        <h3>Github</h3>
        <a href="https://github.com/ximus" target="blank">@ximus</a>
      </li>
    </ul>
  </section>
</div>

<article>
  <section id="profile">
    <h2>Profile</h2>
    <p>
      6 years of web consulting early on in <em>France</em>. 8 years of full
      time employment in <em>San Francisco</em>. Most recently, 3 years of
      informal work and tech exploration.
    </p>
    <p>
      No formal education. Worked in e-commerce and finance. Lean, fast moving
      teams of early to mid stage startups.
    </p>
  </section>

  <section id="skills">
    <div>
      <div>
        <h3>Front</h3>
        <ul class="inline-list">
          <li>Typescript</li>
          <li><a href="https://react.dev/" target="blank">React</a></li>
          <li><a href="https://svelte.dev/" target="blank">Svelte</a></li>
          <li>Design Systems</li>
        </ul>
      </div>

      <div>
        <h3>Back</h3>
        <ul class="inline-list">
          <li>Ruby</li>
          <li>Rails</li>
          <li>Node</li>
          <li>Postgres</li>
          <li>Redis</li>
          <li>gRPC</li>
          <li>Kubernetes</li>
        </ul>
      </div>
    </div>
  </section>

  <section id="experience">
    <h2>Experience</h2>

    <p>
      Six initial years of independent work in France, followed by nine years of
      employment in San Francisco.
    </p>

    <h3>Web Engineering</h3>
    <ul>
      <li>Substantial <em>front-end</em> experience</li>
      <li>
        Core participation in <em>large web deployment</em>, ~6 million users
      </li>
      <li>
        Held significant responsibilities in
        <em>both front-end and back-ends</em> of web systems
      </li>
      <li>Handled critical <em>production</em> incidents effectively</li>
      <li>Navigated complex sytems:</li>
      <ul>
        <li>Financial platforms</li>
        <li>Payment systems</li>
        <li>Large <em>email</em> delivery infrastructure</li>
      </ul>
      <li><em>Test driven</em> development and experience with a QA team</li>
      <li>
        Systems design
        <ul>
          <li>
            Understand the <em>system as whole</em>, thinking further than the
            business application code
          </li>
          <li>Network architecture, <em>REST principles</em></li>
          <li>Studied and deployed <em>Cloud architectures</em></li>
        </ul>
      </li>
    </ul>

    <h3>Product</h3>
    <ul>
      <li>Participated in the design of multiple products</li>
      <li>
        Exercised data-driven product development, <em>experimentation</em>
      </li>
      <li>Operationalized data models to drive product behavior</li>
      <li>Interact closely with product, data and design teams</li>
    </ul>
  </section>

  <section id="projects">
    <h2>Recently</h2>
    <ul>
      <% for experience in experience_list %> <%= render '/experience.*' ,
      experience %> <% end %>
    </ul>
  </section>
</article>

<footer>
  <p>last modified: <%= Time.now.strftime("%m/%d/%Y") %></p>
  <p>
    built using: <a href="http://sass-lang.com/" target="blank">Sass</a>,
    <a href="http://jashkenas.github.com/coffee-script/" target="blank"
      >CoffeeScript</a
    >
    and <a href="http://nanoc.ws/" target="blank">Nanoc</a>.
  </p>
  <p>
    <a href="https://github.com/ximus/maximeliron.com" target="blank"
      >Source on Github</a
    >
    | <a href="maxime-liron-resume.pdf">Download this as a PDF</a> |
    <a href="/resume-old/">Previous version</a>
  </p>
</footer>
