---
title: About Maxime
description: I am a web swiss army knife
image: "http://www.maximeliron.com/images/me.png"
layout: /profile.*
---

<% content_for :header do %>
  <link rel="stylesheet" href="stylesheets/short.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic' rel='stylesheet'
    type='text/css'>
  <% end %>

    <header>
      <h1>Maxime Liron</h1>

      <ul>
        <li>Passion for all things technical
        <li>Experienced full stack web developer
        <li>Studying robotics, mecatronics
      </ul>
    </header>

    <div class="highlight">
      <h2>Experienced web developer</h2>
    </div>

    <ul>
      <li>6+ years designing and building web apps
      <li>8+ years designing and building websites
      <li><strong>Thourough full stack</strong> experience
      <li>Proficient in Ruby and Javascript, familiar with many other languages
      <li>Experienced with data storage, analysis and experimentation
    </ul>


    <div class="highlight">
      <h2>Builder at heart</h2>
    </div>

    <ul>
      <li>20+ years of experience taking things apart
      <li><strong>Great technical intuition</strong>
      <li>Concrete electronics experience
      <li>Long time woodwork enthousiast
      <li>Love to fix mecanical systems (vehicules, appliances, ...)
    </ul>

    <div class="highlight">
      <h2>Great all-rounder</h2>
    </div>

    <ul>
      <li>Interest in business development and strategy
      <li>Good at making sensible decisions
      <li>Great colaborator, communicator
      <li>Keen listener
      <li><strong>Attentive to detail</strong>
      <li>Fluent in french and english
    </ul>


    <div class="highlight">
      <p class="quote">I pick up new contexts, environments and tools fast. <br>I'm a fast learner</p>
    </div>


    <ul>
      <li>
        <a href="/resume/">Resume</a> &rarr;
      </li>
      <li>
        <a href="https://ximus.xyz/notes/gate.html">Home gate automation notes</a> &rarr;
      </li>
    </ul>


    <br>
    <p>
      reach me at
      &#109;&#097;&#120;&#105;&#109;&#101;&#108;&#105;&#114;&#111;&#110;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;
    </p>
