@import "tailwindcss";

$alternating-color: #f5f1e2;

$stronger-text-color: black;
$normal-text-color: #4a4a4a;
$lighter-text-color: #7b7b7b;

body {
  color: $normal-text-color;
  background-color: #f7f7f7;
  font-family: "Helvetica Neue", "MS Trebuchet", sans-serif;
}

a,
a:focus,
a:visited {
  text-decoration: none;
  color: $normal-text-color;
}

a:hover {
  text-decoration: underline;
}
a[href*="pdf"].with-icon {
  background: url(../images/pdf-icon.gif) no-repeat 0 50%;
  padding-left: 20px;
}

em {
  color: $stronger-text-color;
}

h1,
h2,
h3 {
  font-family: "Helvetica Neue", "MS Trebuchet", sans-serif;
  font-weight: 600;
}

h2 {
  font-size: 1.5em;
}
h3 {
  margin-top: 1.2em;
  margin-bottom: 1em;
}

// back to top
h2 > a.top {
  color: $lighter-text-color;
  float: right;
  font-size: 0.5em;
  font-weight: 500;
  padding-top: 8px;
}

article > section {
  margin-bottom: 28px;
}

section > section:last-child {
  margin-bottom: 0;
}

.inline-list {
  @apply flex flex-row items-start flex-wrap;
  $left_margin: 5px;
  margin-left: -$left_margin;

  list-style-type: none;
  padding-left: 0;
  li {
    @apply font-medium text-sm;
    display: inline-block;
    background: $alternating-color;
    border-radius: 3px;
    padding: 4px 8px;
    margin: 4px $left_margin;
    white-space: nowrap;
  }
}

#container {
  box-shadow: 0 0 16px #c4c4c4;
  margin: 60px auto;
  z-index: 100;
  @apply px-4 py-2;
  @apply w-full max-w-4xl;
}

header {
  h1 {
    @apply text-3xl;
    margin-bottom: 0.1em;
  }
  h2 {
    margin-top: 0.3em;
    font-size: 1.6em;
    img {
      position: relative;
    }
  }
  p {
    color: $lighter-text-color;
  }
}

section > h2 {
  padding-bottom: 5px;
  margin-bottom: 1em;
  border-bottom: 1px solid #dbdbdb;
}

#contact {
  @apply text-sm;
  @apply mt-5;

  li {
    margin-bottom: 4px;
    list-style-type: none;
    @apply flex flex-row items-center gap-2;
  }
  li h3 {
    width: 56px;
    margin: 0;
  }
  li h3,
  li p {
    font-size: 1.1em;
  }
}

#profile {
  p {
    text-align: justify;
  }
}

p + p {
  @apply mt-2;
}

#skills,
#profile,
#experience,
#projects,
#education,
#interests,
footer {
}

#skills {
  & > div {
    display: flex;
    flex-direction: row;
    justify-items: stretch;
    align-items: stretch;

    & > div {
      padding: 1em 2em;
      &:first-of-type {
        padding-left: 0;
        border-right: 1px solid #dbdbdb;
      }
      &:last-of-type {
        padding-right: 0;
      }
    }
  }
  h3:first-child {
    margin-top: 0;
  }
}

#projects {
  ul {
    padding-left: 0;
  }
}

li.past-project {
  @apply px-4 py-2 mb-4;
  border-radius: 4px;
  list-style-type: none;

  &:nth-child(2n + 1) {
    background-color: $alternating-color;
  }

  h3,
  p.client,
  p.period {
    margin: 0;
    display: inline;
  }
  p.description {
    margin-bottom: 0;
    text-align: justify;
  }

  p.contact,
  p.tools {
    margin: 0.4em 0;
    font-size: 0.9em;
    span.label {
      color: $lighter-text-color;

      font-size: 0.9em;
    }
  }

  p.contact {
    margin-top: 0.6em;
  }

  h3 {
    @apply sm:text-lg;
    padding-right: 12px;
    border-right: 1px solid $lighter-text-color;
  }
  p.client {
    font-weight: 600;
    color: $lighter-text-color;
    a,
    a:focus,
    a:visited {
      color: $lighter-text-color;
    }
    margin-left: 12px;
  }

  p.period {
    float: right;
  }
}

#other-sites {
  margin-top: 26px;
  li {
    padding: 7px 26px;
    list-style-type: none;
    border-radius: 4px;
    &:nth-child(2n + 1) {
      background-color: $alternating-color;
    }
    a,
    p {
      display: inline;
      float: left;
    }
    a {
      font-weight: 600;
      width: 150px;
    }
    p {
      margin: 0 12px;
    }
  }
}

footer {
  @apply text-sm;

  img {
    float: right;
    position: relative;
    top: 46px;
  }
  p {
    text-align: center;
    color: $lighter-text-color;
    opacity: 0.9;
    clear: both;
    margin: 0.6em 0;
  }
}

#toc {
  position: fixed;
  @apply flex flex-row px-2 py-3;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  border-bottom: 1px solid #aaa;
  background: white;

  box-shadow: #c4c4c4 0 0 12px;
  opacity: 0.9;
  transition: opacity 200ms ease-in-out;
  a:hover {
    text-decoration: none;
  }
  .pdf-link {
    align-self: flex-end;
  }
  ul {
    @apply flex flex-row gap-2;
    @apply px-0;
  }
  h2 {
    display: none;
  }
  li.selected {
    border-bottom: 2px solid $normal-text-color;
  }
}

#toc:hover,
#toc.showing {
  opacity: 1;
}

@media only screen and (min-width: $blueprint-container-size) {
}

@media only screen and (min-width: 1100px) {
  #toc {
    width: 95px;
    left: -3px;
    top: 60px;
    padding: 22px 26px 43px 26px;
    border-bottom: none;
    background: white url(../images/toc.png) no-repeat 100% 100%;
    h3 {
      color: $lighter-text-color;
    }
    li {
      display: block !important;
      padding-bottom: 2px;
    }
    border-radius: 4px;
    nav {
      margin-bottom: 18px;
    }

    li.selected {
      border-bottom: none;
      text-decoration: underline;
    }
  }
}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.ir br {
  display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  *:not(.star) {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  } /* Black prints faster: h5bp.com/s */
  a,
  a:visited {
    text-decoration: none;
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  } /* Don't show links for images, or javascript/internal links */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  } /* h5bp.com/t */
  tr,
  img {
    page-break-inside: avoid;
  }
  ul,
  section {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h1,
  h2,
  h3,
  h4 {
    page-break-after: avoid;
  }
  #projects {
    position: relative;
    page-break-before: always;
    page-break-inside: avoid;
  }
  li.past-project,
  #other-sites li {
    padding-right: 0 !important;
    padding-left: 0 !important;
    position: relative;
    page-break-before: always;
    page-break-inside: avoid;
  }
  h2 > a.top {
    display: none;
  }
  #container {
    margin-top: 0;
    padding-top: 0;
  }
  #contact,
  #skills {
    a:after {
      content: "";
    }
  }
  footer {
    display: none;
  }
  #toc {
    display: none;
  }
  .no-print {
    display: none;
  }
}
