<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <title>
    <%= @item[:title] %>
  </title>

  <!-- Twitter Card data -->
  <meta name="twitter:site" content="@ximus">
  <meta name="twitter:title" content="<%= @item[:title] %>">
  <meta name="twitter:description" content="<%= @item[:description] %>">
  <meta name="twitter:creator" content="@ximus">
  <meta name="twitter:image:src" content="<%= @item[:image] %>">

  <!-- Open Graph data -->
  <meta property="og:type" content="profile" />
  <meta property="profile:first_name" content="maxime" />
  <meta property="profile:last_name" content="liron" />


  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <%= render '/common/head.*' %>
</head>

<body class="flex flex-col">
  <%= content_for(@item, :pre) %>

    <div id="container" role="main">
      <%= yield %>
    </div>

    <%= render '/footer.*' %>
</body>

</html>
