<header>
  <hgroup>
    <h1>Maxime Liron's Resume</h1>
    <h2>
      <img src="/images/small-html5.png" alt="HTML5 Logo" height="15" width="15">
      <span title="HTML5 is the cornerstone of the W3C's open web platform; a framework designed to support innovation and foster the full potential the web has to offer. Heralding this revolutionary collection of tools and standards, the HTML5 identity system provides the visual vocabulary to clearly classify and communicate our collective efforts. (source: W3C)">HTML5</span> developer
    </h2>
  </hgroup>
  <p>
    Bilingual -- English and French, canadian and french citizenships
  </p>
</header>

<div id="toc">
  <h2>Table of Contents</h2>
  <nav>
    <ul>
      <li><a href="#profile">Profile</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#experience">Experience</a></li>
      <li><a href="#projects">Past projects</a></li>
      <li><a href="#education">Education</a></li>
      <li><a href="#interests">Interests</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
  <a href="maxime-liron-resume.pdf" class="with-icon">PDF Version</a>  
</div>

<section id="contact">
  <h2 class="visuallyhidden">Contact</h2>
  <ul>
    <li class="email">
      <h3>Email</h3>
      <a href="mailto:&#109;&#097;&#120;&#105;&#109;&#101;&#108;&#105;&#114;&#111;&#110;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">&#109;&#097;&#120;&#105;&#109;&#101;&#108;&#105;&#114;&#111;&#110;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a>
    </li>
    <li class="skype">
      <h3>Skype</h3>
      <a href="skype:maxime.liron">maxime.liron</a>
    </li>
    <!-- <li class="tel">
      <h3>Phone</h3>
      <p>
        (+33) 4 42 21 45 24 
      </p>
    </li> --> 
    <li class="github">
      <h3>Github</h3>
      <a href="https://github.com/ximus">github.com/ximus</a>
    </li>
  </ul>
</section>

<article>
  
<section id="profile">
  <h2>Profile<a href="#" class="top">back to top &uarr;</a></h2>
  <p>
     I am a web developer from the south of France, just moved to San Francisco bay area, looking for a position as a developer. I have an interest in nearly all fields of technology and gather knowledge in all those fields. I have acquired concrete experience in the field of web development and graphic design and I have a distinct interest for the technical foundations of computer networks and all web-enabling technologies. I have a strong understanding of web systems. My aim is to blur the line between humans and computers. 
  </p>
  <p>
    I have worked independently for the past six years with short breaks during which I travelled.
  </p>
</section>

<section id="skills">
  <h2>Skills Summary <a href="#" class="top">back to top &uarr;</a></h2>
  
  <div class="first">
    <h3>HTML5 Related</h3>
    <ul class="starme">
      <li>CSS3 <span>7/7</span></li>
      <li>Semantics <span>7/7</span></li>
      <li>Local Storage <span>7/7</span></li>
      <li>Geolocation <span>7/7</span></li>
      <!-- <li>Drag and Drop <span>7/7</span></li> -->
      <li>Mobile <span>6/7</span></li>                 
      <li>Javascript <span>6/7</span></li>
      <li>Rich HTML5 apps<span>5/7</span></li>      
      <li><a href="http://www.sproutcore.com/" title="SproutCore is an MVC framework for building cutting edge HTML5 client apps, sponsered by Apple and used to build Apple iCloud">SproutCore</a> <span>4/7</span></li>
      <li><a href="http://wwww.jquery.com/" title="Everyone's favorite DOM framework">JQuery</a> <span>7/7</span></li>      
    </ul>
  </div>
  
  <div>
    <h3>Other Technical</h3>
    <ul class="starme">
      <li>Ruby <span>5/7</span></li>
      <li>CoffeeScript <span>6/7</span></li>
      <li>Databases (SQL, NoSQL) <span>4/7</span></li>
      <li>Cloud Architectures <span>5/7</span></li>
      <li>Sys Admin (Unix-like) <span>4/7</span></li>
      <li>Python <span>2/7</span></li>
      <li>Java <span>3/7</span></li>
      <li>Git <span>5/7</span></li>
      <li>Ability to Learn <span>7/7</span></li>
    </ul>
  </div> 
  
  <div class="last">
    <h3>Other</h3>
    <ul> 
      <li>Communication</li>
      <li>Problem Solving</li>
      <li>Innovative Thinking</li>
      <li>User Experience</li>
      <li>Attention to Detail</li>
      <li>Dedication</li>
      <li>Hard working</li>
      <li>Relaxed</li>
    </ul>
  </div>     
</section>

<section id="experience">
  <h2>Experience<a href="#" class="top">back to top &uarr;</a></h2>
  <ul>
    <li>
      <h3>Web Application Development</h3>
      <ul>
        <li>Designed multiple web applications from the ground up</li>
        <li>Studied the potential of <em>HTML5</em>, used it to enable greater user experience</li>
        <li>Dealt with problems, learned from them</li>
        <li>
          Systems design
          <ul>
            <li>Understand the system as whole, taking into account more than the application code</li>
            <li>Network architecture, <em>REST principles</em></li>
            <li>Studied and deployed <em>Cloud architectures</em></li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <h3>Project Management</h3>
      <ul>
        <li>Worked with teams of up to three</li>
        <li>Used to collaborating over the net</li>
        <li>Understand project management tools (Basecamp, Skype, Dropbox, ...)</li>
      </ul>
    </li>
    <li>
      <h3>Communication Strategy</h3>
      <ul>
        <li>Participated in the thinking behind the marketing of multiple products</li>
        <li>Participated in then successful promotion of a new service within a new and disruptive industry trend</li>
        <li>Enabled sales team to augment their efficiency (and happiness) by loads by architecting a collaboration web app</li>
      </ul>
    </li>
  </ul>
</section>

<section id="projects">
  <h2>Past Projects<a href="#" class="top">back to top &uarr;</a></h2>
  <ul>
    <% for experience in experience_list %>
      <%= render 'experience', experience %>
    <% end %>
  </ul>
  
  <section id="other-sites">
    <h3>Other Sites I've built:</h3>
    <ul>
       <% for site in various_sites_list %>
         <li>
           <a href="http://<%= site[:url] %>/" target="_blank"><%= site[:url] %></a>
           <p>
             <%= site[:description] %>
           </p>
         </li>
       <% end %>
       <li>...</li>
    </ul>
  </section>
</section>


<section id="education">
  <h2>Education<a href="#" class="top">back to top &uarr;</a></h2>

  <p>
    <em>High School</em> -- I was in boarding school in Canada (<a href="http://www.shawnigan.ca/">Shawnigan Lake School</a>) then in an international High school in the south of France, <a href="http://www.lyc-luynes.ac-aix-marseille.fr/" title="Web site in French">Lycée George Duby</a>.
  </p>

  <p>
    Self taught. My interest in the technical web started at 18 yold. Learned a lot through books, open source projects and online material, clocked in <em>many</em> hours watching footage of conference talks. Learned loads through client projects.
  </p>

  <p>
    I left university after two years of physics and chemistry to pursue my web endeavors. The skills I learned did not require me to go to university but I do not rule out going back to university for harder to learn skills.
  </p>
</section>


<section id="interests">
  <h2>Interests<a href="#" class="top">back to top &uarr;</a></h2>

  <p>
    Most things interest me.
  </p>

  <ul>
    <li>Economics and finance</li>
    <li>World dynamics</li>
    <li>Enabling people to do more using the web</li>
    <li>Innovative and creative thinking</li>
    <li>People</li>
    <li>Understanding things, learning</li>
    <li>Designing web system architectures</li>
    <li>I really like user interfaces</li>
    <li>Technology</li>
    <li>Robotics</li>
    <li>Data Visualization</li>
    <li>Travel -- Discovered North America, South America, South Asia, Europe with a back pack</li>
    <li>Sports -- Main sport is tennis, used to be rugby, I hike and run regularly</li>
    <li>Outdoors</li>
    <li>Art</li>
    <li>Music</li>
    <li>Wine</li>
  </ul>
</section>

</article>  

<footer> 
  <a href="http://www.w3.org/html/logo/">
    <img src="http://www.w3.org/html/logo/badge/html5-badge-h-css3-semantics.png" width="90" height="35" alt="HTML5 Powered with CSS3 / Styling, and Semantics" title="HTML5 Powered with CSS3 / Styling, and Semantics">
  </a>
  <p>
    (work in progress, suggestions <a href="mailto:&#109;&#097;&#120;&#105;&#109;&#101;&#108;&#105;&#114;&#111;&#110;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">welcomed</a>)
  </p> 
  <p>
    built using: <a href="http://sass-lang.com/">Sass</a>, <a href="http://jashkenas.github.com/coffee-script/">CoffeeScript</a> and <a href="http://nanoc.stoneship.org/">Nanoc</a>. <a href="http://validator.w3.org/check?uri=http%3A%2F%2Fwww.maximeliron.com%2Fresume%2F">HTML5 compliant</a>.
  </p>
  <p>
    <a href="https://github.com/ximus/maximeliron.com">Source on Github</a> | <a href="maxime-liron-resume.pdf">Download this as a PDF</a>
  </p>
</footer>