---
title: Maxime Liron's Resume
css: resume
layout: profile
---
<% content_for :header do %>
  <link rel="stylesheet" href="../stylesheets/resume.css">
  <script src="../javascripts/main.js" defer></script>
<% end  %>

<header>
  <h1>Maxime Liron's Resume</h1>
  <h2>
    <img src="/images/small-html5.png" alt="HTML5 Logo" height="15" width="15">
    Full Stack Web developer
  </h2>
  <p>
    Bilingual -- English and French, canadian and french citizenships
  </p>
</header>

<aside id="toc">
  <h2>Table of Contents</h2>
  <nav>
    <ul>
      <li><a href="#profile">Profile</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#experience">Experience</a></li>
      <li><a href="#projects">Past projects</a></li>
      <li><a href="#education">Education</a></li>
      <li><a href="#interests">Interests</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
  <a href="maxime-liron-resume.pdf" class="with-icon pdf-link" target="_blank">PDF Version</a>
</aside>

<section id="contact">
  <h2 class="visuallyhidden">Contact</h2>
  <ul>
    <li class="email">
      <h3>Email</h3>
      <a href="mailto:&#109;&#097;&#120;&#105;&#109;&#101;&#108;&#105;&#114;&#111;&#110;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">&#109;&#097;&#120;&#105;&#109;&#101;&#108;&#105;&#114;&#111;&#110;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a>
    </li>
    <li class="skype">
      <h3>Skype</h3>
      <a href="skype:maxime.liron">maxime.liron</a>
    </li>
    <li class="github">
      <h3>Github</h3>
      <a href="https://github.com/ximus" target="blank">github.com/ximus</a>
    </li>
  </ul>
</section>

<article>

<section id="profile">
  <h2>Profile</h2>
  <p>
    Web developer from the south of France, have worked in San Francisco for the past 2+ years. I have a strong interest in all fields of technology, and am very keen on always learning & applying new skills. Over the past 4 years, I have worked hard to gain as much concrete experience in the field of web development and web interaction design as possible, including good understanding of web systems.
  </p>
  <p>
    I work mainly on the technical side of web applications, but I am always attentive to the bigger picture. I am most productive when I understand the mission behind a project.
  </p>
<!--   <p>
    I hold the ability to rule them all: I can quickly understand non-trivial tools and practices. This allows me to be productive fast.
  </p> -->
</section>

<section id="skills">
  <h2>Skills Summary </h2>

  <div class="first">
    <h3>Front-end</h3>
    <ul class="starme">
      <li>HTML <span>7/7</span></li>
      <li title="7/7 stars would qualify me as insane">CSS, SASS <span>6/7</span></li>
      <li>Mobile <span>6/7</span></li>
      <li>Javascript <span>6/7</span></li>
      <li><a href="http://wwww.jquery.com/" title="Everyone's favorite DOM framework" target="blank">JQuery</a> <span>7/7</span></li>
      <li><a href="http://www.angularjs.org/" title="Framework for building large client side web applications, developed by Google" target="blank">AngularJS</a> <span>4/7</span></li>
      <li><a href="http://emberjs.com/" title="Framework for building large client side web applications, forked from Sproutcore framework" target="blank">EmberJS</a> <span>3/7</span></li>
      <li>Ability to Learn <span>7/7</span></li>
    </ul>
    <hr>
    <h3>Culture</h3>
    <ul class="inline-list">
      <li>Communication</li>
      <li>Collaboration</li>
      <li>Core Mission Understanding</li>
      <li>Active listening</li>
      <li>Independent</li>
      <li>Attention to Detail</li>
      <li>Dedication</li>
      <li>Hard Working</li>
      <li>Easy-going </li>
    </ul>
  </div>

  <div>
    <h3>Back-end</h3>
    <ul class="starme">
      <li>Ruby <span>7/7</span></li>
      <li>Rails <span>7/7</span></li>
      <li>MySQL <span>5/7</span></li>
      <li>Redis <span>6/7</span></li>
      <li>Git <span>5/7</span></li>
      <li>System Architectures <span>5/7</span></li>
      <li>Sys Admin (Unix-like) <span>4/7</span></li>
      <li>Go (language)<span>2/7</span></li>
      <li>Ability to Learn <span>7/7</span></li>
    </ul>
    <hr>
    <h3>Misc Technical</h3>
    <ul class="inline-list">
      <li title="The Apache Hadoop software library is a framework that allows for the distributed processing of large data sets across clusters of computers using simple programming models."><a href="http://hadoop.apache.org/">Hadoop</a></li>
      <li>Java</li>
      <li><a href="https://www.polymer-project.org">Polymer</a></li>
      <li>CoffeeScript</li>
      <li title="SproutCore is an open-source framework for building blazingly fast, innovative user experiences on the web."><a href="http://sproutcore.com/" target="blank">SproutCore</a></li>
      <li><a href="http://spinejs.com/" target="blank">SpineJS</a></li>
      <li title="Ansible is a powerful automation engine that makes systems and apps simple to deploy"><a href="http://www.ansible.com/" target="blank">Ansible</a></li>
      <li>C</li>
      <li>PHP</li>
    </ul>
  </div>
</section>

<section id="experience">
  <h2>Experience</h2>

  <p>
    Six years of independent work, followed by two years of employment in Silicon Valley.
  </p>

  <h3>Web Engineering</h3>
  <ul>
    <li>Substantial <em>front-end</em> experience</li>
    <li>Designed multiple web applications from the ground up</li>
    <li>Core participation in <em>large web deployment</em>, ~6 million users</li>
    <li>Held significant responsibilities in <em>both front-end and back-ends</em> of web systems</li>
    <li>Handled critical <em>production</em> incidents effectively</li>
    <li>Able to understand complex scenarios quickly:</li>
    <ul>
      <li><em>Performance monitoring</em></li>
      <li>Systems visibility, metrics</li>
      <li>Payment systems</li>
      <li>Large <em>email</em> delivery infrastructure</li>
    </ul>
    <li><em>Test driven</em> development and experience with a QA team</li>
    <li>Utilized tools for investigating production systems (strace, dtrace, tcpdump, ...)</li>
    <li>
      Systems design
      <ul>
        <li>Understand the <em>system as whole</em>, thinking further than the business application code</li>
        <li>Network architecture, <em>REST principles</em></li>
        <li>Studied and deployed <em>Cloud architectures</em></li>
      </ul>
    </li>
  </ul>

  <h3>Product Development</h3>
  <ul>
    <li>Participated in the thought process behind the marketing of multiple products</li>
    <li>Participated in the successful promotion of a new service within a new and disruptive industry trend</li>
    <li>Allowed a sales team to greatly augment their efficiency (and happiness) by architecting a collaborative web app</li>
    <li>Core participation in data-driven product development</li>
    <li>Product developement through <em>experimentation</em></li>
    <li>Development and implementation of data models for product behavior</li>
  </ul>

  <h3>Work Environments</h3>
  <ul>
    <li>Worked in <em>distributed teams</em> (US east/west, India, France)</li>
    <li>Lean, fast moving <em>startup environments</em></li>
    <li>Github-style, flat organisation</li>
    <li>Experience with a <em>corporate envirnoment</em> and its constraints (need for stability, planning)</li>
    <li>Led a session on scaling cloud infrastuctures at <a href="http://www.siliconvalley-codecamp.com/">Code Camp</a></li>
  </ul>
</section>

<section id="projects">
  <h2>Past Projects</h2>
  <ul>
    <% for experience in experience_list %>
      <%= render 'experience', experience %>
    <% end %>
  </ul>

  <section id="other-sites">
    <h3>Other Sites I've built:</h3>
    <ul>
       <% for site in various_sites_list %>
         <li>
           <a href="http://<%= site[:url] %>/" target="_blank"><%= site[:url] %></a>
           <p>
             <%= site[:description] %>
           </p>
         </li>
       <% end %>
       <li>...</li>
    </ul>
  </section>
</section>


<section id="education">
  <h2>Education</h2>

  <p>
    <em>High School</em> -- I was in boarding school in Canada (<a href="http://www.shawnigan.ca/" target="blank">Shawnigan Lake School</a>) then in an international High school in the south of France, <a href="http://www.lyc-luynes.ac-aix-marseille.fr/" title="Web site in French" target="blank">Lycée George Duby</a>.
  </p>

  <p>
    <em>Self taught</em> -- My interest in the technical web started at 17 years old. Learned extensively through books, open source projects and online material, clocked in <em>many</em> hours watching footage of conference talks. Learned loads through client projects.
  </p>

  <p>
    I left university after two years of physics and chemistry to pursue my web endeavors. The skills I learned did not require me to go to university but I do not rule out going back to university for more advanced skills.
  </p>

  <p>
    I have a decent understanding of core computer science concepts (algorithms, compilers, ...). I am conscious of their roles and implications, though coming from a self-taught background, I have not studied them thoroughly. I am confident on my ability to strengthen my understanding of algorithms if the job requires it. I am willing to do whatever is necessary to meet requirements.
  </p>
</section>


<section id="interests">
  <h2>Interests</h2>

  <p>
    These pique my interest
  </p>

  <ul class="inline-list">
    <li>Economics and finance</li>
    <li>World dynamics</li>
    <li>Enabling people to do more using the web</li>
    <li>Innovative and creative thinking</li>
    <li>People</li>
    <li>Understanding things, learning</li>
    <li>Designing web system architectures</li>
    <li>I appreciate well-designed user interfaces</li>
    <li>Technology</li>
    <li>Robotics</li>
    <li>Data Visualization</li>
    <li>Travel -- Discovered North America, South America, South Asia, Europe with a back pack</li>
    <li>Sports -- Main sport is tennis, used to be rugby, I hike and run regularly</li>
    <li>Outdoors</li>
    <li>Climbing</li>
    <li>Art</li>
    <li>Music</li>
    <li>Wine</li>
  </ul>
</section>

</article>

<footer>
  <a href="http://www.w3.org/html/logo/" target="blank">
    <img src="http://www.w3.org/html/logo/badge/html5-badge-h-css3-semantics.png" width="90" height="35" alt="HTML5 Powered with CSS3 / Styling, and Semantics" title="HTML5 Powered with CSS3 / Styling, and Semantics">
  </a>
  <p>
    last modified: <%= Time.now.strftime("%m/%d/%Y") %> -- work in progress, suggestions <a href="mailto:&#109;&#097;&#120;&#105;&#109;&#101;&#108;&#105;&#114;&#111;&#110;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">welcomed</a>
  </p>
  <p>
    built using: <a href="http://sass-lang.com/" target="blank">Sass</a>, <a href="http://jashkenas.github.com/coffee-script/" target="blank">CoffeeScript</a> and <a href="http://nanoc.ws/" target="blank">Nanoc</a>. <a href="http://validator.w3.org/check?uri=http%3A%2F%2Fwww.maximeliron.com%2Fresume%2F" target="blank">HTML5 compliant</a>.
  </p>
  <p>
    <a href="https://github.com/ximus/maximeliron.com" target="blank">Source on Github</a> | <a href="maxime-liron-resume.pdf">Download this as a PDF</a>
  </p>
</footer>